{% extends 'baseexternal.html' %}


{% block content %}

<div class="container border-bottom border-type1 pt-3 pb-3">
<div class="row">
  <div class="col-lg-12 pb-2">
    <h2>Data Analysis at CIMR</h2>
    <br>
	<h6 class="lh-base">The CIMR proteomics facility also provides a data analysis service, which can be requested on the 'Experiment Request' form independently of sample analysis, or as an optional add-in with a sample submission. The facility runs the most popular proprietary proteomics software and can accommodate most open source, freeware or user-provided software compatiable with Linux or Windows operating systems. 
	<br>
	<br>
	We can perform any level of analysis from simply providing lists of identified proteins, to processing data through ready-made pipelines in software such as Proteome Discoverer or Perseus, to creating a bespoke analysis method in R or Python, with extended analysis using AlphaFold2, UCSF Chimera etc. and finishing with publication-ready figures. Analysis methods tend to be unique to each experiment, so it's a good idea to contact the facility and disucss your requirements.
	<br>
	<br>
	<h6>The facility runs the following proteomics software:</h6>
	<ul>
	  <li><h6>Mascot</h6></li>
	  <li><h6>Proteomics Discoverer</h6></li>
	  <li><h6>Peaks</h6></li>
	  <li><h6>Scaffold</h6></li>
	  <li><h6>MaxQuant</h6></li>
	  <li><h6>DIANN</h6></li>
	  <li><h6>Skyline</h6></li>
	  <li><h6>Perseus</h6></li>
	<ul>
	</h6>
  </div>
  </div>
</div>


{% endblock %}
