{% extends 'basefacility.html' %}

{% block extrascript %}
<script>
</script>
{% endblock %}


{% block content %}
<div class="container">

    <div class="col">
      <h6><span style="color: red">{{ msg }}</span></h6>
    </div>

  <div class="col border-bottom border-type1 pt-3 pb-1">
  
    <h5 class="text-left">Experiment <strong>{{ ecode }}</strong> for <strong>{{ fn }} {{ ln }}</strong>.</h5>
    <h5> This experiment is for:<strong> {{ etype }} </strong>. 
    <br>
    <h6> For more details, select the appropriate tables from the table-by-table database viewer (bottom of the 'facility home' page).</h6>

  <div class="col-lg-8 border-bottom border-type1 pt-4 mb-1">
    <h5 class="text-left"><blue><strong>Extra costs (NB if there aren't any extra costs, you don't need to fill anything in here)</strong></blue></h5>
  </div>
  
  
  <form name="form" action="" method='post' validate>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <div  class="row pt-3">
    <div class="col-lg-3">
      <p><red>Item description</red>. Any current database entry is shown by default. Enter none for none</p>
    </div>
    <div class="col-lg-3">
      <p><red>Item cost (GBP)</red>. Any current database entry is shown by default. Enter 0 for none</p>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-lg-2">
      <input style="font-size:14px;" class="form-control" name="description" id="description" value="{{ d if d }}" placeholder="{{ d if d else "description" }}" required</input>
	</div>
	<div class="col-lg-1">
	</div>
    <div class="col-lg-2">
      <input style="font-size:14px;" class="form-control" type="number" name="cost" id="cost" value="{{ c if c }}" placeholder="{{ c if c else "cost" }}" required</input>
	</div>
  </div>
  
  <h6 class="text-left">Once you're done filling in the form you can submit this information to the database:</h6>
  <div class="col pb-4 pt-1">
    <input type="submit" name="submit_extras" value="submit extra costs">
  </div>
    
  </form>
</div>



{% endblock %}
