{% extends 'baseuser.html' %}

{% block extrascript %}
<script>
</script>
{% endblock %}


{% block content %}

<div class="container">
  <h5>Database contents summarising the expenses for all experiments of group {{ email }}</h5>
</div>

<div class="container-fluid">
<table style="width:100%; font-size:80%;" class="table table-sm">
  <thead>
    <tr>
      <th scope="col">group_id</th>
      <th scope="col">researcher's email</th>
      <th scope="col">expt_code</th>
      <th scope="col">expt_type</th>
      <th scope="col">grant code used</th>
      <th scope="col">CU_early_discount?</th>
      <th scope="col">bench_cost</th>
      <th scope="col">instrument_cost</th>
      <th scope="col">wash_cost</th>
      <th scope="col">dbsearch_cost</th>
      <th scope="col">python_cost</th>
      <th scope="col">extras_description</th>
      <th scope="col">extras_cost</th>
    </tr>
  </thead>
  
  <tbody>
    {% for row in table %}
    <tr>
      {% for cell in row %}
        <td>{{ cell }}</td>
	  {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}



