{% extends 'baseexternal.html' %}


{% block content %}

<div class="container border-bottom border-type1 pt-3 pb-3">
<div class="row">
  <div class="col-lg-8 pb-0">
    <h2>Offline Fractionation at CIMR</h2>
    <br>
	<h6>We have an Ultimate RSLC3000 which we operate in high pH reverse-phase mode to pre-fractionate proteomes prior to LC-MSMS. We are happy to discuss different fractionation methods and explore alternative column chemistries with users.</h6>
	<br>
  </div>
</div>

{% endblock %}
