{% extends 'baseexternal.html' %}


{% block content %}

<div class="container border-bottom border-type1 pt-3 pb-3">
  <h2>Protein Discovery at CIMR</h2>
  <br>
    <div class="row">
	  <div class="col-lg-8 pb-2">
	    <h6 class="lh-base">We offer a wide range of quantitative discovery Proteomics workflows including SILAC, TMT and label free quantitation (LFQ) which can be acquired in a data dependent (DDA) or data independent (DIA) fashion. Data can be processed in MaxQuant, DIA-NN, Proteome Discoverer or PEAKS and we offer support with data interpretation and presentation. We have experience with sub-cellular Proteomics such as Plasma-Membrane Profiling and LOPIT as well as PTM enrichment strategies.</h6>
	    <br>
	</div>
</div>

{% endblock %}
