{% extends 'baseexternal.html' %}

{% block content %}


<div class="container">

  <div class="col">
    <h5><span style="color: red">{{ msg }}</span></h5>
  </div>

  <div class="col-lg-7 border-bottom border-type1 pt-4">
    <h5 class="text-left">Please type in a new password here.</h5>
  </div>
 
  <form method=post>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="row">
      <div class="col-lg-3 pt-3">
      <input type="password" class="form-control" minlength="8" name="newpw1" id="newpw1" minlength="8" placeholder="choose a new password" required>
      </div>
      <div class="col-lg-3 pt-3">
      <input type="password" class="form-control" minlength="8" name="newpw2" id="newpw2" minlength="8" placeholder="repeat new password" required>
      </div>
    </div>
   
    <div class="row">
	  <div class="col-lg-2 pt-3">
	    <div class="form-outline">
	      <input type="submit" name="resetpw" value="set this as my new password">
        </div>
      </div>
    </div>
  </form>
</div>


{% endblock %}
