{% extends "baseerror.html" %}


{% block title %}Internal server error{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center pt-3 pb-3">
  <div class="col-lg-8">
    <h4><blue>Internal Server Error.</blue></h4>
    <h6>Something hasn't worked. This is most likely a server error.</h6> 
    <h6>If you're trying to submit the "experiment request form", come to the facility so we can check your request went into the database before you try again (otherwise we'll get hit with multiple requests every time you resubmit this form).</h6>
    <h6><a href="{{ url_for('index') }}">go back to the Main Home Page (this will log you out).</a></h6>
  </div>
</div>
{% endblock %}


